.table-ratio table tr td {
  font-size: 15px;
  padding: 5px;
}

.table-ratio table tr th {
  font-size: 12px;
  padding: 5px;
}

.title:not(:nth-child(1)) {
  background: #95aac9;
  font-weight: 500;
  color: #ffffff;
}

.title1 td,
.ratioLIQUIDITY-18 {
  display: none;
}

.PROFITABILITY-41 {
  margin-bottom: 30px;
}

.RATIOS-0:nth-child(4),
.RATIOS-1:nth-child(4),
.RATIOS-2:nth-child(4),
.RATIOS-3:nth-child(4),
.RATIOS-4:nth-child(4),
.RATIOS-5:nth-child(4),
.RATIOS-6:nth-child(4),
.RATIOS-7:nth-child(4),
.RATIOS-8:nth-child(4),
.PRODUCTIVITY-0:nth-child(4),
.PRODUCTIVITY-1:nth-child(4),
.PRODUCTIVITY-2:nth-child(4),
.PRODUCTIVITY-3:nth-child(4),
.SOLVENCY-0:nth-child(4),
.SOLVENCY-1:nth-child(4),
.SOLVENCY-2:nth-child(4),
.SOLVENCY-3:nth-child(4),
.SOLVENCY-4:nth-child(4),
.SOLVENCY-5:nth-child(4),
.SOLVENCY-6:nth-child(4),
.SOLVENCY-7:nth-child(4),
.SOLVENCY-8:nth-child(4),
.EFFICIENCY-0:nth-child(4),
.EFFICIENCY-1:nth-child(4),
.EFFICIENCY-2:nth-child(4),
.EFFICIENCY-3:nth-child(4),
.EFFICIENCY-4:nth-child(4),
.EFFICIENCY-5:nth-child(4),
.EFFICIENCY-6:nth-child(4),
.EFFICIENCY-7:nth-child(4),
.EFFICIENCY-8:nth-child(4),
.EFFICIENCY-9:nth-child(4),
.EFFICIENCY-10:nth-child(4),
.EFFICIENCY-11:nth-child(4),
.EFFICIENCY-12:nth-child(4),
.EFFICIENCY-13:nth-child(4),
.EFFICIENCY-14:nth-child(4),
.EFFICIENCY-15:nth-child(4),
.EFFICIENCY-16:nth-child(4),
.EFFICIENCY-17:nth-child(4),
.EFFICIENCY-18:nth-child(4),
.EFFICIENCY-19:nth-child(4),
.EFFICIENCY-20:nth-child(4),
.EFFICIENCY-21:nth-child(4),
.EFFICIENCY-22:nth-child(4),
.LIQUIDITY-0:nth-child(4),
.LIQUIDITY-1:nth-child(4),
.LIQUIDITY-2:nth-child(4),
.LIQUIDITY-3:nth-child(4),
.LIQUIDITY-4:nth-child(4),
.LIQUIDITY-5:nth-child(4),
.LIQUIDITY-6:nth-child(4),
.LIQUIDITY-7:nth-child(4),
.LIQUIDITY-8:nth-child(4),
.LIQUIDITY-9:nth-child(4),
.LIQUIDITY-10:nth-child(4),
.LIQUIDITY-11:nth-child(4),
.LIQUIDITY-12:nth-child(4),
.LIQUIDITY-13:nth-child(4),
.LIQUIDITY-14:nth-child(4),
.LIQUIDITY-15:nth-child(4),
.LIQUIDITY-16:nth-child(4),
.LIQUIDITY-17:nth-child(4),
.LIQUIDITY-18:nth-child(4),
.LIQUIDITY-19:nth-child(4),
.LIQUIDITY-21:nth-child(4),
.PROFITABILITY-0:nth-child(4),
.PROFITABILITY-1:nth-child(4),
.PROFITABILITY-2:nth-child(4),
.PROFITABILITY-3:nth-child(4),
.PROFITABILITY-4:nth-child(4),
.PROFITABILITY-5:nth-child(4),
.PROFITABILITY-6:nth-child(4),
.PROFITABILITY-7:nth-child(4),
.PROFITABILITY-8:nth-child(4),
.PROFITABILITY-9:nth-child(4),
.PROFITABILITY-10:nth-child(4),
.PROFITABILITY-11:nth-child(4),
.PROFITABILITY-12:nth-child(4),
.PROFITABILITY-13:nth-child(4),
.PROFITABILITY-14:nth-child(4),
.PROFITABILITY-15:nth-child(4),
.PROFITABILITY-16:nth-child(4),
.PROFITABILITY-17:nth-child(4),
.PROFITABILITY-18:nth-child(4),
.PROFITABILITY-19:nth-child(4),
.PROFITABILITY-20:nth-child(4),
.PROFITABILITY-21:nth-child(4),
.PROFITABILITY-22:nth-child(4),
.PROFITABILITY-23:nth-child(4),
.PROFITABILITY-24:nth-child(4),
.PROFITABILITY-25:nth-child(4),
.PROFITABILITY-26:nth-child(4),
.PROFITABILITY-27:nth-child(4),
.PROFITABILITY-28:nth-child(4),
.PROFITABILITY-29:nth-child(4),
.PROFITABILITY-30:nth-child(4),
.PROFITABILITY-31:nth-child(4),
.PROFITABILITY-32:nth-child(4),
.PROFITABILITY-33:nth-child(4),
.PROFITABILITY-34:nth-child(4),
.PROFITABILITY-35:nth-child(4),
.PROFITABILITY-36:nth-child(4),
.PROFITABILITY-37:nth-child(4),
.PROFITABILITY-38:nth-child(4),
.PROFITABILITY-39:nth-child(4),
.PROFITABILITY-40:nth-child(4),
.PROFITABILITY-41:nth-child(4) {
  border-right: 1px solid #868e96;
}

.RATIOS-0:nth-child(1),
.RATIOS-1:nth-child(1),
.RATIOS-2:nth-child(1),
.RATIOS-3:nth-child(1),
.RATIOS-4:nth-child(1),
.RATIOS-5:nth-child(1),
.RATIOS-6:nth-child(1),
.RATIOS-7:nth-child(1),
.RATIOS-8:nth-child(1),
.PRODUCTIVITY-0:nth-child(1),
.PRODUCTIVITY-1:nth-child(1),
.PRODUCTIVITY-2:nth-child(1),
.PRODUCTIVITY-3:nth-child(1),
.SOLVENCY-0:nth-child(1),
.SOLVENCY-1:nth-child(1),
.SOLVENCY-2:nth-child(1),
.SOLVENCY-3:nth-child(1),
.SOLVENCY-4:nth-child(1),
.SOLVENCY-5:nth-child(1),
.SOLVENCY-6:nth-child(1),
.SOLVENCY-7:nth-child(1),
.SOLVENCY-8:nth-child(1),
.EFFICIENCY-0:nth-child(1),
.EFFICIENCY-1:nth-child(1),
.EFFICIENCY-2:nth-child(1),
.EFFICIENCY-3:nth-child(1),
.EFFICIENCY-4:nth-child(1),
.EFFICIENCY-5:nth-child(1),
.EFFICIENCY-6:nth-child(1),
.EFFICIENCY-7:nth-child(1),
.EFFICIENCY-8:nth-child(1),
.EFFICIENCY-9:nth-child(1),
.EFFICIENCY-10:nth-child(1),
.EFFICIENCY-11:nth-child(1),
.EFFICIENCY-12:nth-child(1),
.EFFICIENCY-13:nth-child(1),
.EFFICIENCY-14:nth-child(1),
.EFFICIENCY-15:nth-child(1),
.EFFICIENCY-16:nth-child(1),
.EFFICIENCY-17:nth-child(1),
.EFFICIENCY-18:nth-child(1),
.EFFICIENCY-19:nth-child(1),
.EFFICIENCY-20:nth-child(1),
.EFFICIENCY-21:nth-child(1),
.EFFICIENCY-22:nth-child(1),
.LIQUIDITY-0:nth-child(1),
.LIQUIDITY-1:nth-child(1),
.LIQUIDITY-2:nth-child(1),
.LIQUIDITY-3:nth-child(1),
.LIQUIDITY-4:nth-child(1),
.LIQUIDITY-5:nth-child(1),
.LIQUIDITY-6:nth-child(1),
.LIQUIDITY-7:nth-child(1),
.LIQUIDITY-8:nth-child(1),
.LIQUIDITY-9:nth-child(1),
.LIQUIDITY-10:nth-child(1),
.LIQUIDITY-11:nth-child(1),
.LIQUIDITY-12:nth-child(1),
.LIQUIDITY-13:nth-child(1),
.LIQUIDITY-14:nth-child(1),
.LIQUIDITY-15:nth-child(1),
.LIQUIDITY-16:nth-child(1),
.LIQUIDITY-17:nth-child(1),
.LIQUIDITY-18:nth-child(1),
.LIQUIDITY-19:nth-child(1),
.LIQUIDITY-21:nth-child(1),
.PROFITABILITY-0:nth-child(1),
.PROFITABILITY-1:nth-child(1),
.PROFITABILITY-2:nth-child(1),
.PROFITABILITY-3:nth-child(1),
.PROFITABILITY-4:nth-child(1),
.PROFITABILITY-5:nth-child(1),
.PROFITABILITY-6:nth-child(1),
.PROFITABILITY-7:nth-child(1),
.PROFITABILITY-8:nth-child(1),
.PROFITABILITY-9:nth-child(1),
.PROFITABILITY-10:nth-child(1),
.PROFITABILITY-11:nth-child(1),
.PROFITABILITY-12:nth-child(1),
.PROFITABILITY-13:nth-child(1),
.PROFITABILITY-14:nth-child(1),
.PROFITABILITY-15:nth-child(1),
.PROFITABILITY-16:nth-child(1),
.PROFITABILITY-17:nth-child(1),
.PROFITABILITY-18:nth-child(1),
.PROFITABILITY-19:nth-child(1),
.PROFITABILITY-20:nth-child(1),
.PROFITABILITY-21:nth-child(1),
.PROFITABILITY-22:nth-child(1),
.PROFITABILITY-23:nth-child(1),
.PROFITABILITY-24:nth-child(1),
.PROFITABILITY-25:nth-child(1),
.PROFITABILITY-26:nth-child(1),
.PROFITABILITY-27:nth-child(1),
.PROFITABILITY-28:nth-child(1),
.PROFITABILITY-29:nth-child(1),
.PROFITABILITY-30:nth-child(1),
.PROFITABILITY-31:nth-child(1),
.PROFITABILITY-32:nth-child(1),
.PROFITABILITY-33:nth-child(1),
.PROFITABILITY-34:nth-child(1),
.PROFITABILITY-35:nth-child(1),
.PROFITABILITY-36:nth-child(1),
.PROFITABILITY-37:nth-child(1),
.PROFITABILITY-38:nth-child(1),
.PROFITABILITY-39:nth-child(1),
.PROFITABILITY-40:nth-child(1),
.PROFITABILITY-41:nth-child(1) {
  border-left: 1px solid #868e96;
}

/*only first child is font-bold*/
.RATIOS-0:nth-child(0),
.RATIOS-5:nth-child(0),
.PRODUCTIVITY-0:nth-child(1),
.SOLVENCY-0:nth-child(1),
.SOLVENCY-5:nth-child(1),
.EFFICIENCY-0:nth-child(1),
.EFFICIENCY-7:nth-child(1),
.EFFICIENCY-14:nth-child(1),
.EFFICIENCY-19:nth-child(1),
.LIQUIDITY-0:nth-child(1),
.LIQUIDITY-7:nth-child(1),
.LIQUIDITY-14:nth-child(1),
.LIQUIDITY-19:nth-child(1),
.PROFITABILITY-0:nth-child(1),
.PROFITABILITY-6:nth-child(1) ,
.PROFITABILITY-12:nth-child(1),
.PROFITABILITY-18:nth-child(1),
.PROFITABILITY-24:nth-child(1),
.PROFITABILITY-30:nth-child(1),
.PROFITABILITY-36:nth-child(1) {
  font-weight: 500;
}
/*only first child is font-bold*/

/*with background color except first*/
.PRODUCTIVITY-0:not(:nth-child(1)),
/* .SOLVENCY-0:not(:nth-child(1)), */
/* .SOLVENCY-5:not(:nth-child(1)), */
.RATIOS-3:not(:nth-child(0)),
.RATIOS-8:not(:nth-child(0)),
.LIQUIDITY-12:not(:nth-child(1)),
.PROFITABILITY-4:not(:nth-child(1)),
.PROFITABILITY-10:not(:nth-child(1)),
.PROFITABILITY-16:not(:nth-child(1)),
.PROFITABILITY-22:not(:nth-child(1)),
.PROFITABILITY-34:not(:nth-child(1))
/* .PROFITABILITY-34:not(:nth-child(1)) */
{
  background: #edf2f9;
}
/*with background color except first*/

.PRODUCTIVITY-3,
.SOLVENCY-8,
.SOLVENCY-3,
.EFFICIENCY-3,
.EFFICIENCY-5,
.EFFICIENCY-10,
.EFFICIENCY-12,
.EFFICIENCY-17,
.EFFICIENCY-22,
.LIQUIDITY-5,
.LIQUIDITY-12,
.LIQUIDITY-19,
.LIQUIDITY-21,
.PROFITABILITY-4,
.PROFITABILITY-10,
.PROFITABILITY-16,
.PROFITABILITY-22,
.PROFITABILITY-28,
.PROFITABILITY-34,
.PROFITABILITY-41 {
  font-weight: 500;
  background: #edf2f9;
}


.LIQUIDITY-4,
.LIQUIDITY-11,
.LIQUIDITY-10 {
  font-weight: 500;
}

.PRODUCTIVITY-1:nth-child(1),
.PRODUCTIVITY-2:nth-child(1),
.SOLVENCY-6:nth-child(1),
.SOLVENCY-7:nth-child(1),
.SOLVENCY-1:nth-child(1),
.SOLVENCY-2:nth-child(1),
.EFFICIENCY-1:nth-child(1),
.EFFICIENCY-2:nth-child(1),
.EFFICIENCY-8:nth-child(1),
.EFFICIENCY-9:nth-child(1),
.EFFICIENCY-15:nth-child(1),
.EFFICIENCY-16:nth-child(1),
.EFFICIENCY-20:nth-child(1),
.EFFICIENCY-21:nth-child(1),
.LIQUIDITY-1:nth-child(1),
.LIQUIDITY-2:nth-child(1),
.LIQUIDITY-8:nth-child(1),
.LIQUIDITY-9:nth-child(1),
.LIQUIDITY-16:nth-child(1),
.LIQUIDITY-17:nth-child(1),
/* .LIQUIDITY-14:nth-child(1), */
.ratio-0 td:nth-child(2),
.ratio-0 td:nth-child(3),
.ratio-0 td:nth-child(4),

.PROFITABILITY-0:nth-child(2),
.PROFITABILITY-0:nth-child(3),
.PROFITABILITY-0:nth-child(4),

.PROFITABILITY-1:nth-child(2),
.PROFITABILITY-1:nth-child(3),
.PROFITABILITY-1:nth-child(4),

.PROFITABILITY-2:nth-child(2),
.PROFITABILITY-2:nth-child(3),
.PROFITABILITY-2:nth-child(4),

.PROFITABILITY-5:nth-child(2),
.PROFITABILITY-5:nth-child(3),
.PROFITABILITY-5:nth-child(4),

.PROFITABILITY-6:nth-child(2),
.PROFITABILITY-6:nth-child(3),
.PROFITABILITY-6:nth-child(4),

.PROFITABILITY-7:nth-child(2),
.PROFITABILITY-7:nth-child(3),
.PROFITABILITY-7:nth-child(4),

.PROFITABILITY-8:nth-child(2),
.PROFITABILITY-8:nth-child(3),
.PROFITABILITY-8:nth-child(4),

.PROFITABILITY-11:nth-child(2),
.PROFITABILITY-11:nth-child(3),
.PROFITABILITY-11:nth-child(4),

.PROFITABILITY-13:nth-child(2),
.PROFITABILITY-13:nth-child(3),
.PROFITABILITY-13:nth-child(4),

.PROFITABILITY-14:nth-child(2),
.PROFITABILITY-14:nth-child(3),
.PROFITABILITY-14:nth-child(4),

.PROFITABILITY-16:nth-child(2),
.PROFITABILITY-16:nth-child(3),
.PROFITABILITY-16:nth-child(4),

.PROFITABILITY-17:nth-child(2),
.PROFITABILITY-17:nth-child(3),
.PROFITABILITY-17:nth-child(4),

.PROFITABILITY-18:nth-child(2),
.PROFITABILITY-18:nth-child(3),
.PROFITABILITY-18:nth-child(4),

.PROFITABILITY-19:nth-child(2),
.PROFITABILITY-19:nth-child(3),
.PROFITABILITY-19:nth-child(4),

.PROFITABILITY-20:nth-child(2),
.PROFITABILITY-20:nth-child(3),
.PROFITABILITY-20:nth-child(4),

.PROFITABILITY-21:nth-child(2),
.PROFITABILITY-21:nth-child(3),
.PROFITABILITY-21:nth-child(4),

.PROFITABILITY-23:nth-child(2),
.PROFITABILITY-23:nth-child(3),
.PROFITABILITY-23:nth-child(4),

.PROFITABILITY-25:nth-child(2),
.PROFITABILITY-25:nth-child(3),
.PROFITABILITY-25:nth-child(4),

.PROFITABILITY-26:nth-child(2),
.PROFITABILITY-26:nth-child(3),
.PROFITABILITY-26:nth-child(4),

.PROFITABILITY-30:nth-child(2),
.PROFITABILITY-30:nth-child(3),
.PROFITABILITY-30:nth-child(4),

.PROFITABILITY-31:nth-child(2),
.PROFITABILITY-31:nth-child(3),
.PROFITABILITY-31:nth-child(4),

.PROFITABILITY-32:nth-child(2),
.PROFITABILITY-32:nth-child(3),
.PROFITABILITY-32:nth-child(4),

.PROFITABILITY-37:nth-child(2),
.PROFITABILITY-37:nth-child(3),
.PROFITABILITY-37:nth-child(4),

.PROFITABILITY-38:nth-child(2),
.PROFITABILITY-38:nth-child(3),
.PROFITABILITY-38:nth-child(4),

.LIQUIDITY-1:nth-child(2),
.LIQUIDITY-1:nth-child(3),
.LIQUIDITY-1:nth-child(4),

.LIQUIDITY-2:nth-child(2),
.LIQUIDITY-2:nth-child(3),
.LIQUIDITY-2:nth-child(4),

.LIQUIDITY-4:nth-child(2),
.LIQUIDITY-4:nth-child(3),
.LIQUIDITY-4:nth-child(4),

.LIQUIDITY-7:nth-child(2),
.LIQUIDITY-7:nth-child(3),
.LIQUIDITY-7:nth-child(4),

.LIQUIDITY-8:nth-child(2),
.LIQUIDITY-8:nth-child(3),
.LIQUIDITY-8:nth-child(4),

.LIQUIDITY-9:nth-child(2),
.LIQUIDITY-9:nth-child(3),
.LIQUIDITY-9:nth-child(4),

.LIQUIDITY-11:nth-child(2),
.LIQUIDITY-11:nth-child(3),
.LIQUIDITY-11:nth-child(4),

.LIQUIDITY-13:nth-child(2),
.LIQUIDITY-13:nth-child(3),
.LIQUIDITY-13:nth-child(4),

.LIQUIDITY-14:nth-child(2),
.LIQUIDITY-14:nth-child(3),
.LIQUIDITY-14:nth-child(4),

.LIQUIDITY-15:nth-child(2),
.LIQUIDITY-15:nth-child(3),
.LIQUIDITY-15:nth-child(4),

.LIQUIDITY-16:nth-child(2),
.LIQUIDITY-16:nth-child(3),
.LIQUIDITY-16:nth-child(4),

.EFFICIENCY-1:nth-child(2),
.EFFICIENCY-1:nth-child(3),
.EFFICIENCY-1:nth-child(4),

.EFFICIENCY-2:nth-child(2),
.EFFICIENCY-2:nth-child(3),
.EFFICIENCY-2:nth-child(4),

.EFFICIENCY-3:nth-child(2),
.EFFICIENCY-3:nth-child(3),
.EFFICIENCY-3:nth-child(4),

.EFFICIENCY-5:nth-child(2),
.EFFICIENCY-5:nth-child(3),
.EFFICIENCY-5:nth-child(4),

.EFFICIENCY-8:nth-child(2),
.EFFICIENCY-8:nth-child(3),
.EFFICIENCY-8:nth-child(4),

.EFFICIENCY-9:nth-child(2),
.EFFICIENCY-9:nth-child(3),
.EFFICIENCY-9:nth-child(4),

.EFFICIENCY-10:nth-child(2),
.EFFICIENCY-10:nth-child(3),
.EFFICIENCY-10:nth-child(4),

.EFFICIENCY-12:nth-child(2),
.EFFICIENCY-12:nth-child(3),
.EFFICIENCY-12:nth-child(4),

.EFFICIENCY-15:nth-child(2),
.EFFICIENCY-15:nth-child(3),
.EFFICIENCY-15:nth-child(4),

.EFFICIENCY-16:nth-child(2),
.EFFICIENCY-16:nth-child(3),
.EFFICIENCY-16:nth-child(4),

.EFFICIENCY-17:nth-child(2),
.EFFICIENCY-17:nth-child(3),
.EFFICIENCY-17:nth-child(4),

.EFFICIENCY-20:nth-child(2),
.EFFICIENCY-20:nth-child(3),
.EFFICIENCY-20:nth-child(4),

.EFFICIENCY-21:nth-child(2),
.EFFICIENCY-21:nth-child(3),
.EFFICIENCY-21:nth-child(4),

.EFFICIENCY-22:nth-child(2),
.EFFICIENCY-22:nth-child(3),
.EFFICIENCY-22:nth-child(4),

.SOLVENCY-1:nth-child(2),
.SOLVENCY-1:nth-child(3),
.SOLVENCY-1:nth-child(4),

.SOLVENCY-2:nth-child(2),
.SOLVENCY-2:nth-child(3),
.SOLVENCY-2:nth-child(4),

.SOLVENCY-3:nth-child(2),
.SOLVENCY-3:nth-child(3),
.SOLVENCY-3:nth-child(4),

.SOLVENCY-6:nth-child(2),
.SOLVENCY-6:nth-child(3),
.SOLVENCY-6:nth-child(4),

.SOLVENCY-7:nth-child(2),
.SOLVENCY-7:nth-child(3),
.SOLVENCY-7:nth-child(4),

.SOLVENCY-8:nth-child(2),
.SOLVENCY-8:nth-child(3),
.SOLVENCY-8:nth-child(4),

.RATIOS-1:nth-child(1),
.RATIOS-1:nth-child(2),
.RATIOS-1:nth-child(3),
.RATIOS-1:nth-child(4),

.RATIOS-2:nth-child(1),
.RATIOS-2:nth-child(2),
.RATIOS-2:nth-child(3),
.RATIOS-2:nth-child(4),

.RATIOS-6:nth-child(1),
.RATIOS-6:nth-child(2),
.RATIOS-6:nth-child(3),
.RATIOS-6:nth-child(4),

.RATIOS-7:nth-child(1),
.RATIOS-7:nth-child(2),
.RATIOS-7:nth-child(3),
.RATIOS-7:nth-child(4),

.summary-0:not(:nth-child(1)):not(:nth-child(2)),
.summary-3:not(:nth-child(1)):not(:nth-child(2)),
.summary-4:not(:nth-child(1)):not(:nth-child(2)),
.summary-5:not(:nth-child(1)):not(:nth-child(2)),
.summary-6:not(:nth-child(1)):not(:nth-child(2)),
.summary-7:not(:nth-child(1)):not(:nth-child(2)),
.summary-8:not(:nth-child(1)):not(:nth-child(2)),
.detail-6:not(:nth-child(1)):not(:nth-child(2)),
.detail-9:not(:nth-child(1)):not(:nth-child(2)),
.detail-12:not(:nth-child(1)):not(:nth-child(2)),
.detail-21:not(:nth-child(1)):not(:nth-child(2)),
.detail-27:not(:nth-child(1)):not(:nth-child(2)),

.LIQUIDITY-15:nth-child(1) {
 text-align: right !important;
 padding-right: 10px;
}

.RATIOS-3:not(:nth-child(1)),
.RATIOS-8:not(:nth-child(1)),
.PRODUCTIVITY-3:not(:nth-child(1)),
.SOLVENCY-8:not(:nth-child(1)),
.SOLVENCY-3:not(:nth-child(1)),
.EFFICIENCY-3:not(:nth-child(1)),
.EFFICIENCY-5:not(:nth-child(1)),
.EFFICIENCY-10:not(:nth-child(1)),
.EFFICIENCY-12:not(:nth-child(1)),
.EFFICIENCY-12:not(:nth-child(1)),
.EFFICIENCY-17:not(:nth-child(1)),
.EFFICIENCY-22:not(:nth-child(1)),
.LIQUIDITY-5:not(:nth-child(1)),
.LIQUIDITY-12:not(:nth-child(1)),
.LIQUIDITY-19:not(:nth-child(1)),
.LIQUIDITY-21:not(:nth-child(1)),
.PROFITABILITY-4:not(:nth-child(1)),
.PROFITABILITY-10:not(:nth-child(1)),
.PROFITABILITY-16:not(:nth-child(1)),
.PROFITABILITY-22:not(:nth-child(1)),
/* .PROFITABILITY-23:not(:nth-child(1)), */
.PROFITABILITY-28:not(:nth-child(1)),
.PROFITABILITY-34:not(:nth-child(1)),
.PROFITABILITY-41:not(:nth-child(1))
 {
  border-top: 1px solid #868e96;
  border-right: 1px solid #868e96;
  border-bottom: 1px solid #868e96;
}

.RATIOS-3:nth-child(2),
.RATIOS-8:nth-child(2),
.PRODUCTIVITY-3:nth-child(2),
.SOLVENCY-8:nth-child(2),
.SOLVENCY-3:nth-child(2),
.EFFICIENCY-3:nth-child(2),
.EFFICIENCY-5:nth-child(2),
.EFFICIENCY-10:nth-child(2),
.EFFICIENCY-12:nth-child(2),
.EFFICIENCY-17:nth-child(2),
.EFFICIENCY-22:nth-child(2),
.LIQUIDITY-5:nth-child(2),
.LIQUIDITY-12:nth-child(2),
.LIQUIDITY-19:nth-child(2),
.LIQUIDITY-21:nth-child(2),
.PROFITABILITY-4:nth-child(2),
.PROFITABILITY-10:nth-child(2),
.PROFITABILITY-16:nth-child(2),
.PROFITABILITY-22:nth-child(2),
.PROFITABILITY-28:nth-child(2),
.PROFITABILITY-34:nth-child(2),
.PROFITABILITY-41:nth-child(2) {
  border-left: 1px solid #868e96;
}

/*last row on title*/
.RATIOS-8,
.LIQUIDITY-21,
.EFFICIENCY-22,
.SOLVENCY-8,
.PRODUCTIVITY-3,
.PROFITABILITY-41 {
  border-bottom: 1px solid #868e96;
}
/*last row on title*/

.ratio-0 td {
  font-weight: 500;
}

/*Hide empty tr*/
.ratioPROFITABILITY-3,
.ratioPROFITABILITY-9,
.ratioPROFITABILITY-15,
.ratioPROFITABILITY-21,
.ratioPROFITABILITY-27,
.ratioPROFITABILITY-33,
.ratioPROFITABILITY-39,
.ratioPROFITABILITY-40,
.ratioLIQUIDITY-3,
.ratioLIQUIDITY-10,
.ratioLIQUIDITY-20,
.EFFICIENCY-4,
.EFFICIENCY-6,
.EFFICIENCY-11,
.EFFICIENCY-13,
.EFFICIENCY-18,
.SOLVENCY-4,
.ratiodetail-26,
.RATIOS-4
{
  display: none;
}
/*Hide empty tr*/


