.dt-badge {
  border-radius: 0.275rem;
  display: inline-block;
  font-size: 0.703125rem;
  line-height: 1;
  padding: 0.25em 0.4em;
  text-align: center;
  vertical-align: baseline;
  white-space: nowrap;

  &.v-badge--tile, &.v-badge--bordered {
    .v-badge__badge {
      border-radius: 0.420rem;
    }
  }
}
