.dovetail-app {
  .theme--dark,
  .theme--light {
    &.v-data-table {
      td {
        font-size: var(--font-size-base);
      }

      td,
      th {
        height: 60px;
      }

      thead {
        tr {
          th {
            text-transform: uppercase;
          }
        }
      }

      tbody {
        tr {
          &:hover {
            background: transparent;
          }
        }
      }
    }
  }

  .theme--dark {
    &.v-data-table {
      background-color: var(--sidebar-bg-dark);

      thead {
        tr {
          th {
            background: var(--toolbar-bg-dark);
          }
        }
      }

      tbody {
        tr:not(:last-child) {
          td:not(.v-data-table__mobile-row) {
            border-bottom: transparent;
          }
        }
      }
    }
  }

  .theme--light {
    &.v-data-table {
      thead {
        tr {
          th {
            background: var(--workspace-bg);
            color: var(--text);
          }

          &:last-child {
            th {
              border-bottom: 1px solid var(--sidebar-border);
            }
          }
        }
      }

      tbody {
        tr:not(:last-child) {
          td:not(.v-data-table__mobile-row) {
            border-bottom: transparent;
          }
        }
      }

      td {
        color: var(--text);
      }

      .v-data-footer {
        border-top: 1px solid var(--sidebar-border);
      }
    }
  }
}
